.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vh;
    height: auto; 
}

.type {
    font-family: 'Montserrat',sans-serif;
    color: #707070;
}

.btn {
    border-radius: 50px;
    width: 25vh;
}

.navbar {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
}

.background {
    background-color: white;
}

#circle {
    
}