{% extends 'templates/base.html' %}
{% load static %}

{% block style %}
<!-- style goes here! -->
{% endblock %}

{% block script %}
    <link rel="stylesheet" href="{% static 'static/jquery.js' %}">
    <!-- additional scripts goes here! -->
{% endblock %}


{% block content %}

<div class="container" id="testi" style="margin-top: 100px; text-align: left">
    <h1>Testimoni</h1>
</div>
    <div class=middle-confirmed style="display: flex; justify-content: center;">
        <table class="table table-striped table-bordered table-sm" align="center" style="align-self: center; width: 75%;">  
            <thead class="thead-choco">   
                <tr>
                    <th>Reviewer</th>  
                    <th>Mitra</th>  
                    <th>Review</th>  
                    <th>Rating</th>
                </tr>  
            </thead>  
            <tbody>  
                {% for responses in responses %}  
                <tr>  
                    <td>{{ responses.ename }}</td>
                    <td>{{ responses.emitra }}</td>  
                    <td>{{ responses.ereview }}</td>
                    <td>{{ responses.erating }}</td>
                </tr>  
            {% endfor %}  
            </tbody>  
        </table>  
    </div>
<br>  
<br>

<button class="accordion">Thank you!</button>
<div class="panel">
    <p style="color:black">We hope your feedback will make us be better in the future!</p>
</div>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            } 
        });
    }
</script>

<script>
        $(document).ready(function(){
          $("h1").hover(function(){
            $(this).css("color", "#707070");
            }, function(){
            $(this).css("color", "#FE7301");
          });
        });
</script>

<h2><img src="{% static 'images/food1.png' %}" class="displayed" id="circle"></h2>
<script type="text/javascript">

            var image_tracker = 'food1';
            
            function change(){
            var image = document.getElementById('circle');
            if(image_tracker=='food1'){
            image.src='{% static 'images/food2.png' %}';
            image_tracker='food2';
            }
            else{
            image.src='{% static 'images/food1.png' %}';
            image_tracker='food1';
            }
            }
            var timer = setInterval('change();',1500); 
            
            // this function is called when the onclick event runs. It stops the timer running.
            function stop(){
            clearInterval(timer); //the clearInterval method stops the timer from running
            }
            
            </script>

<link rel="icon" href="{% static 'images/logo.png' %}" >
{% endblock %}
    