{% extends 'templates/base.html' %}
{% load static %}

{% block style %}
{% endblock %}

{% block script %}
<!-- additional scripts goes here! -->
{% endblock %}


{% block content %}
<div class="container" position="relative">
<form method="POST" class="post-form" action="/feedback/review/">  
    {% csrf_token %}
    <center>
        <div class="container" id="middle-assurance" style="margin-top: 60px;">  
            <br>  
            <div class="form-group row" style="display: flex; justify-content: center;">  
                <label class="col-sm-1 col-form-label"></label>  
                <div class="col-sm-4">  
                    <h3>Testimoni</h3>  
                </div>  
            </div>  
            <div class="form-group row" style="display: flex; justify-content: center;">  
                <label class="col-sm-2 col-form-label">Namamu:</label>  
                <div class="col-sm-4">  
                    {{ form.ename  }} 
                </div>  
            </div>  
            <div class="form-group row" style="display: flex; justify-content: center;">  
                <label class="col-sm-2 col-form-label">Mitra Pesanan:</label>  
                <div class="col-sm-4">  
                    {{ form.emitra }}  
                </div>  
            </div>  
            <div class="form-group row" style="display: flex; justify-content: center;">  
                <label class="col-sm-2 col-form-label">Review:</label>  
                <div class="col-sm-4">  
                    {{ form.ereview }}  
                </div>  
            </div>  
            <div class="form-group row" style="display: flex; justify-content: center;">  
                <label class="col-sm-2 col-form-label">Rating:</label>  
                <div class="col-sm-4">  
                    {{ form.erating }}  
                </div>  
            </div>
            <div class="form-group row" style="display: flex; justify-content: center;">  
                <label class="col-sm-1 col-form-label"></label>  
                <div class="col-sm-4">  
                    <button type="submit" class="btn btn-primary">Kirim</button>  
                </div>  
            </div>
        </div>  
    </center>
</form>
</div>


{% endblock %}
    