{% extends 'templates/base.html' %}
{% load static %}

{% block style %}
<!-- style goes here! -->
{% endblock %}

{% block content %}
<div>
	<form method="POST"action="{% url 'webReview:ulasan' %}" class="container m-auto"> <!-- need an action-->
		{% csrf_token %}
		<div class="form-group row justify-content-center padding">
			<div class="col-1">
				<label for="exampleInputNama"> Nama: </label>
			</div>
			<div class="col-4">
				{{ form.user_name }} 
			</div>
		</div>
		<div class="form-group row justify-content-center">
			<div class="col-1">
				<label for="exampleInputNama"> Email: </label>
			</div>
			<div class="col-4">
				{{ form.user_email }}
			</div>
		</div>
		<div class="form-group row justify-content-center">
			<div class="col-1">
				<label for="exampleInputNama"> Review: </label>
			</div>
			<div class="col-4">
				{{ form.user_review }}
			</div>
		</div>
		<div class="form-group row justify-content-center">
			<div class="col-1">
				<label for="exampleInputNama"> Rating: </label>
			</div>
			<div class="col-4">
				{{ form.user_rating }}
			</div>
		</div>
		<div class="row justify-content-center padding">
				<input type="submit" value="Submit">
		</div>
	</form>
</div>
{% endblock %}
    
{% block script %}
<!-- additional scripts goes here! -->
{% endblock %}
