{% extends 'templates/base.html' %}
{% load static %}

{% block style %}
<!-- style goes here! -->
{% endblock %}

{% block content %}
<div class="container" id="testi" style="margin-top: 100px; text-align: left">
    <h1>Rating dan Ulasan</h1>
</div>
    <div class=middle-confirmed style="display: flex; justify-content: center;">
        <table class="table table-striped table-bordered table-sm" align="center" style="align-self: center; width: 75%;">  
            <thead class="thead-choco">   
                <tr>
                    <th>Reviewer</th>  
                    <th>E-mail</th>  
                    <th>Review</th>  
                    <th>Rating</th>  
                    <th>Action</th>  
                </tr>  
            </thead>  
            <tbody>  
                {% for data in data %}  
                <tr>  
                    <td>{{ data.user_name }}</td>  
                    <td>{{ data.user_email }}</td>  
                    <td>{{ data.user_review }}</td>
                    <td>{{ data.user_rating }}</td> 
                    <td>  <a href="/delete/{{ data.id }}">Delete</a>  </td>  
                </tr>  
            {% endfor %}  
            </tbody>  
        </table>  
    </div>
    <div class=middle-confirmed style="display: flex; justify-content: center;">
    	<button href="{% url 'webReview:submit' %}" class="btn btn-primary">Tambah Ulasan</button>  
    </div>
<br>  
<br>   
{% endblock %}
    
{% block script %}
<!-- additional scripts goes here! -->
{% endblock %}
