<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Manjari|Montserrat:300,400,500,600|Poppins:400,600|Pacifico|Open+Sans:300,400,600|Roboto:100,300,400,500,700,900|Monoton&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


        <!-- Custom styles for this template -->
        <!-- <link href="{% static 'css/style.css' %}" rel="stylesheet"> -->
        <!-- Style for footer -->
        <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: white;
            color: white;
            text-align: center;
        }
        </style>
    </head>
    
    <body id="navbar">
    
        <div class="container">
            <div class="container" position="top" id="navbar">
                <nav class="navbar navbar-expand-lg navbar-light bg-customgrey fixed-top" style="position: absolute; height: 60px; background-color: white; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161)">
                    <a class="navbar-brand-custom" href=""><img src="https://i.imgur.com/zxHvbHY.png" height="25vh"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href=""><b>Home</b></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'feedback:review' %}"><b>Review</b></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href=""><b>Profil</b></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'feedback:feedback' %}"><b>Feedback</b></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
    
            <!-- Content -->
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>

<script>
    window.addEventListener('scroll', () => {
   let children = parent.getElementsByTagName('div');
   for(let i = 0; i < children.length; i++) {
     children[i].style.transform = 'translateY(-' + (window.pageYOffset * i / children.length) + 'px)';
   }
}, false)</script>
