{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="text-center p-5">
        <img src="{% static 'images/logo.png' %}" style="width:20vh" class="displayed">
        <h1><br></h1>
        <form style="color: #707070; opacity: 100%;" method="POST" class="mt-2">
            {% csrf_token %}
            {{ form.as_p }}
            <button style="color: #707070; opacity: 100%;" class="btn-outline-dark btn">Masuk</button>
        </form>
        <p style="color: #707070; opacity: 100%;" class="mt-3">Belum punya akun? Daftar <a href="{% url 'accounts:register_url' %}">di sini</a>.</p>
    </div>
</div>
{% endblock %}