{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="p-5">
        <h1 style="color: #707070; opacity: 100%;"><img src="{% static 'images/logo.png' %}" style="width:8vh">     Buat Akun Baru</h1>
        <br>
        <form style="color: #707070; opacity: 100%;" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
            {% endfor %}
            <button class="btn btn-outline-dark" style="color: #707070; opacity: 100%;">Daftar</button>
        </form>
    </div>
</div>
{% endblock %}
