{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <head>
        <title>bungkusaja caribuku</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'story8.css' %}">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script> 
        <script src="{% static 'story8.js' %}"></script>

        <style>
                table {
                  border-collapse: collapse;
                  width: 100%;
                }
                body{
                  background-color: #FFE4A3;
                }
                
                th, td {
                  text-align: left;
                  padding: 8px;
                }
                
                tr:nth-child(even){background-color: #AB8B74}
                
                th {
                  background-color: #765848;
                  color: white;
                  font-family: montserrat;
                }
                #tombol{
                  margin-bottom: 5%;
                }
                #form{
                  padding-top: 10%;
                }
                #teks{
                  font-family: montserrat;
                  padding-top: 2%;
                }
                .tombol{
                  border-radius: 20%;
                  background-color: #DDBF86;
                  border: #DDBF86;
                  font-family: montserrat;
                }
                .masukan{
                  font-family: montserrat;
                }
            </style>

    </head>
    <title>Test</title>
</head>
<body>
    <h1 class="text-center" id="teks">Cari Buku Yuk!</h1>
    <div class="d-flex justify-content-center align-items-center container " id="form">
        <input type="text" class="form-control-plaintext masukan " placeholder="Search..."> 
    </div>
    <div class="d-flex justify-content-center align-items-center container mt-4" id="tombol">
        <button type="button" class="btn btn-light tombol" id="search">Submit</button>
    </div>
    <div class="container mt-4">
      <table id="tabel">
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Image</th>
        </tr>

        <tbody id="konten">

        </tbody>
    </table>
    </div>
               
</body>
</html>