<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>bungkusaja</title>
    <link href="https://fonts.googleapis.com/css?family=Manjari|Montserrat:300,400,500,600|Poppins:400,600|Pacifico|Open+Sans:300,400,600|Roboto:100,300,400,500,700,900|Monoton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'images/logo.png' %}" >
</head>
<body class='background'>
    
    {% block content %}

    <div style="text-align:center;">
        <button class="btn btn-light" name="lightmode" onclick="changeThemeLight()">Tema Terang</button>
        <button class="btn btn-dark" name="darkmode" onclick="changeThemeDark()">Tema Gelap</button>
    </div>
    <div class="textcolour" style="font-family: Montserrat Regular; font-size: 2vh; text-align: center;">
        <div class="container mt-5">
            <div class="text-center p-5">   
            <h2><img src="{% static 'images/logo.png' %}" class="displayed" id="circle"></h2>
            <h2><br></h2>
            <div>
                <h1 style="color: #707070">Selamat Datang</h1>
            </div>

            <a style style="color: #707070; opacity: 100%;" href="{% url 'accounts:caribuku' %}" class="btn-outline-dark btn mt-5">Cari Buku</a>
            <br>

            {% if user.is_authenticated %}
                <a style="color: #707070; opacity: 100%;" href="{% url 'accounts:profile' %}" class="btn-outline-dark btn mt-5">
                    Profil
                </a>
                <br>
                <a style="color: #707070; opacity: 100%;" href="{% url 'accounts:logout' %}" class="btn-outline-dark btn mt-2">
                    Keluar
                </a>
            {% else %}
                <a style="color: #707070; opacity: 100%;" href="{% url 'accounts:login_url' %}" class="btn-outline-dark btn mt-5">
                    Masuk
                </a>
                <br>
                <a style="color: #707070; opacity: 100%;" href="{% url 'accounts:register_url' %}" class="btn-outline-dark btn mt-2">
                    Daftar
                </a>
            {% endif %}
        </div>
    </div>

    <script>
        $(document).ready(function(){
          $("h1").hover(function(){
            $(this).css("color", "#707070");
            }, function(){
            $(this).css("color", "#FE7301");
          });
        });

        function changeThemeLight(){
            $('.background').css('background-color', 'white');
        }

        function changeThemeDark(){
            $('.background').css('background-color', 'black');
        }

        </script>
        
        <script type="text/javascript">
 
            /* In the previous tutorial, we changed an image by clicking on it.
            This time the image will change by itself over time.
            This could be used for an ad banner that changes every few seconds.
            It uses much of the existing code from the previous tutorial.
            */
            
            var image_tracker = 'logo';
            
            function change(){
            var image = document.getElementById('circle');
            if(image_tracker=='logo'){
            image.src='{% static 'images/logo2.png' %}';
            image_tracker='logo2';
            }
            else{
            image.src='{% static 'images/logo.png' %}';
            image_tracker='logo';
            }
            }
            
            // Either the setTimeout() method or the setInterval() method can be used.
            // With the setTimeout() method, it takes two parameters.
            // The first parameter is the code to run, the second parameter is time in milliseconds. 1 sec = 1000 ms.
            // the setTimeout() method only runs once. To repeat, we use the setInterval() method instead.
            // It also uses two parameters, the code to run (or function to use), and the timer interval.
            
            var timer = setInterval('change();',300); 
            
            // this function is called when the onclick event runs. It stops the timer running.
            function stop(){
            clearInterval(timer); //the clearInterval method stops the timer from running
            }
            
            </script>
           


    
    {% endblock %}


</body>
</html>
