{% extends 'index.html' %}
{% load static %}


{% block content %}
<div class="container">
<div class="container" position="top" id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-customgrey fixed-top" style="position: absolute; height: 60px; background-color: white; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161)">
        <a class="navbar-brand-custom" href=""><img src="{% static 'images/logo.png' %}" height="25vh"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href=""><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'feedback:review' %}"><b>Review</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=""><b>Mitra</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'feedback:feedback' %}"><b>Feedback</b></a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container mt-5 headline jumbotron" style="background: transparent">
    <div class="p-5 text-center">
        <h1 style="color: #707070; opacity: 100%;" >Hello, <span style='color: black'>{{ user.username }}</span></h1>
        <a style="color: #707070; opacity: 100%; position:center" href="{% url 'accounts:profile' %}" class="btn-outline-dark btn mt-5">Buat Pesanan</a>
        <p><br></p>
        <a style="color: #707070; opacity: 100%; position: center" href="{% url 'accounts:login_url' %}" class="btn-outline-dark btn mt-5">Keluar</a>
    </div>
</div>
</div>
{% endblock %}